<!-- navigation component -->
<app-nav></app-nav>
<!-- Add button component -->
<app-add-btn (click)="togleModal()"></app-add-btn>
<!-- Article component -->
<div *ngIf="!isLoading; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div *ngFor="let article of articlesData">
    <app-article [article]="article"></app-article>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div class="loading">
    <h1>Loading articles...</h1>
  </div>
</ng-template>

<!-- Modal component -->
<app-modal [isModalOpen]="isModalOpen"></app-modal>
<app-footer> </app-footer>
